# History files
.Rhistory
.Rapp.history

# Example code in package build process
*-Ex.R
# RStudio files
.Rproj.user/
# produced vignettes
vignettes/*.html
vignettes/*.pdf
vignettes/seq2seq_unsync_2nd_attempt.Rmd
vignettes/seq2seq_unsync_first_attempt.Rmd
.Rproj.user
inst/doc
